
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layouttemplate.cshtml";
}

<div class="services">
    <div class="container">
        <div class="text-left">
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h1>Het testen van een Secret</h1>
            <h3>Naam van het secret</h3>
            <p>@ViewBag.Key</p>

            <h3>Inhoud van het secret</h3>
            <p>@ViewBag.Secret</p>
            </div>
        </div>
    </div>
