
@{
    ViewData["Title"] = "aanleiding";
    Layout = "~/Views/Shared/_layouttemplate.cshtml";
}


<section class="action">
    <div class="container">
        <div class="left-text hidden-xs">
            <h4>Danny Brouwers</h4>
            <p>
                <em>
                    Hallo allemaal, mijn naam is Danny Brouwers en zoals jullie weten ben ik afstudeerder van de opleiding HBO ICT in Heerlen. <br />
                    Naast school doe ik voornamelijk veel sporten zoals: Inline skaten en Calisthenics.
                </em><br><br>
                Ik heb de afgelopen maanden met veel plezier aan deze opdracht gewerkt. De grootste uitdaging voor mij was om  onderwerpen waar ik geen kennis van had te leren binnen de afstudeerperiode.
                <br />Het mooiste resultaat vind ik is dat Roser nu al op dit moment gebruik maakt van Docker. De onderwerpen die ik uitgezocht heb worden op dit moment geimplementeerd in de Roseromgeving.

            </p>
        </div>
        <div class="right-image hidden-xs"></div>
    </div>
</section>

<hr/>
<div class="services">
    <div class="container">
        <div class="text-center">
            <h2>Onderwerpen</h2>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Achtergrondinformatie over Roser</h3>
            <p>
                <img src="~/img/Shell-Moerdijk-1.png">
            </p>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Aanleiding van de opdracht</h3>
            <h4>Oude omgeving</h4>
                <img src="~/img/oude omgeving.jpg" style="width:400px;height:400px;">
            <h4>Nieuwe omgeving</h4>
                <img src="~/img/nieuwe omgeving2.jpg" style="width:550px;height:300px;">        
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Opdrachtomschrijving</h3>
            <h4>Probleem:</h4>
            <p>
               Het deployen van microservices is erg lastig, vereist veel tijd en grote kans op human errors.              
            </p>
            <h4>Oplossing:</h4>
            <p> Oplossing: Het automatiseren van het deployen van microservices op een DevOps werkwijze.</p>
        </div>
    </div>
    </div>
        <section class="action">
            <div class="container">
                <div class="left-text hidden-xs">
                    <h4>Het volgende onderdeel: Aanpak</h4>
                    <div class="form-group">
                        <a href="/Home/aanpak" class="btn btn-primary btn-lg">Next</a>
                    </div>
                </div>
            </div>
        </section>
