
@{
    ViewData["Title"] = "aanpak";
    Layout = "~/Views/Shared/_layouttemplate.cshtml";
}

<hr />
<div class="services">
    <div class="container">
        <div class="text-center">
            <h2>Methodes</h2>
        </div>
        <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Deskresearch</h3>
        </div>
        <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Fieldresearch</h3>
        </div>
        <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Pakketselectie</h3>
        </div>
        <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>MoSCoW-methode</h3>
        </div>
        <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Watervalmethode</h3>
        </div>
        <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Kanban</h3>
        </div>
    </div>
</div>

<hr />
<div class="services">
    <div class="container">
        <div class="text-center">
            <h2>Planning</h2>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>geschat</h3>
            <p>
                <img src="~/img/planning.png" style="width:1000px;height:400px;">
            </p>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>resultaat</h3>
            <p>
                <img src="~/img/planning uitvoering.png" style="width:1000px;height:400px;">
            </p>
        </div>
    </div>
    </div>

        <section class="action">
            <div class="container">
                <div class="left-text hidden-xs">
                    <h4>Het volgende onderdeel: Resultaten</h4>
                    <div class="form-group">
                        <a href="/Home/resultaten" class="btn btn-primary btn-lg">Next</a>
                    </div>
                </div>
            </div>
        </section>
