
@{
    ViewData["Title"] = "proces";
    Layout = "~/Views/Shared/_layouttemplate.cshtml";
}
<div class="services">
    <div class="container">
        <h1>Het Docker proces</h1>
        <img src="~/img/docker proces.jpg" style="width:800px;height:400px;">
        <h1>Docker swarm</h1>
        <p>
            <br/>Test situatie
            <img src="~/img/node swarm.jpg" style="width:400px;height:200px;">
        </p>
        <p>
            <br />Ideale situatie
            <img src="~/img/node swarm ideale situatie .jpg" style="width:1000px;height:200px;">
        </p>

        <h2>Docker stack</h2>
        <p>
            <br />Inhoud van een stack
            <img src="~/img/nodes.jpg" style="width:800px;height:400px;">
        </p>
    </div>
</div>

