
@{
    ViewData["Title"] = "proces";
    Layout = "~/Views/Shared/_layouttemplate.cshtml";
}
<div class="services">
    <div class="container">
        <h1>Het Docker proces</h1>
        <img src="~/img/docker proces.jpg" style="width:800px;height:400px;">
        </div>
    </div>
        <div class="services">
            <div class="container">
                <h1>Docker swarm</h1>
                 <h2>Test situatie</h2>
                    <img src="~/img/node swarm.jpg" style="width:400px;height:200px;">
                <h2>Realistische situatie</h2>
                    <img src="~/img/node swarm ideale situatie .jpg" style="width:1000px;height:200px;">
                </div>
            </div>
        <div class="services">
            <div class="container">
                <h1>Docker stack</h1>
                <h2>Inhoud van een stack</h2>                  
                    <img src="~/img/nodes.jpg" style="width:800px;height:400px;">
            </div>
            </div>
        <div class="services">
            <div class="container">
                <h1>Deployment pipeline</h1>
                <h2>Oude omgeving</h2>
                    <img src="~/img/oude development pipeline 2.0.jpg" style="width:550px;height:300px;">
                <h2>Nieuwe omgeving</h2>
                    <img src="~/img/development pipeline 2.0.jpg" style="width:1000px;height:300px;">
            </div>
        </div>

