
@{
    ViewData["Title"] = "resultanten";
    Layout = "~/Views/Shared/_layouttemplate.cshtml";
}

<hr />
<div class="services">
    <div class="container">
        <div class="text-center">
            <h2>Belangrijkste keuzes</h2>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="~/img/docker-container.png" style="width:300px;height:100px;">
            <h3>Waarom is voor containers gekozen?</h3>
            <p>
                <h4>Kenmerken:</h4>
                <br />1. Een container bevat alleen de applicatie met de bijbehorende benodigheden.
                <br />2. Kleine omvang
                <br />3. Schaalbaar

                <br />
                <h4>Alternatieven:</h4>
                <br />1. Virtuele machines
                <br />2. Fysieke machines
                <br />3. Serverloze functies
                <br />
                <br />
                <br />
            </p>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="~/img/docker-container.png" style="width:300px;height:100px;">
            <h3>Waarom is voor Docker gekozen?</h3>
            <p>
                <h4>Kenmerken:</h4>
                <br />1. Werkt onder het Windows en Linux besturingssysteem.
                <br />2. Kleine omvang

                <br />
                <h4>Alternatieven:</h4>
                <br />1.Linux containers
                <br />2.FreeBSD jails
                <br />3.Solaris containers
                <br />
                <br />
            </p>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="~/img/1.png" style="width:600px;height:200px;">
            <h3>Waarom is voor Azure gekozen?</h3>
            <h4>Kenmerken:</h4>
            <br />1. Docker is deployment platform onafhankelijk.
            <br />2. Roser werkt al met Azure.
            <br />3. Azure biedt een repository aan om Docker images in op te slaan.
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="~/img/devops.png" style="width:300px;height:200px;">
            <h3>Welke invloed heeft DevOps op de architectuur van Roser gehad?</h3>
            <br />
            <br />1. Door het automatiseren van het deployen van microservices wordt DevOps mogelijk gemaakt.
            <br />2. Developers en Beheerders kunnen van de ontwikkel omgeving naar de productie omgeving deployen.
            <br />3. Beheerders en developers kunnen beter samenwerken omdat kennis over het gehele deploy proces nodig is voor beide groepen.
            <br />
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="~/img/index.png" style="width:300px;height:300px;">
            <h3>Waarom is voor Docker swarm gekozen?</h3>
            <br />1. Met Docker is het mogelijk om vanuit 1 centrale file applicaties te kunnen configureren.


        </div>
    </div>
</div>
<section class="action">
    <div class="container">
        <div class="left-text hidden-xs">
            <h4>Het volgende onderdeel: Demonstratie</h4>
            <div class="form-group">
                <a href="/Home/index" class="btn btn-primary btn-lg">Next</a>
            </div>
        </div>
    </div>
</section>


