
@{
    ViewData["Title"] = "resultanten";
    Layout = "~/Views/Shared/_layouttemplate.cshtml";
}

<hr />
<div class="services">
    <div class="container">
        <div class="text-center">
            <h2>Belangrijkste keuzes</h2>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Waarom is voor containers gekozen?</h3>
            <p>
                <br />Alternatieven:
                <br />
                <br />Virtuele machines
                <br />Fysieke machines
                <br />Serverloze functies
            </p>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Waarom is voor Docker gekozen?</h3>
            <p>
                <br />Alternatieven:
                <br />
                <br />Linux containers
                <br />FreeBSD jails
                <br />Solaris containers
            </p>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Waarom is voor Azure gekozen?</h3>
        </div>
        <div class="col-md-10 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-book"></i>
            <h3>Waarom is voor Docker swarm gekozen?</h3>
        </div>
    </div>
</div>
<section class="action">
    <div class="container">
        <div class="left-text hidden-xs">
            <h4>Het volgende onderdeel: Demonstratie</h4>
            <div class="form-group">
                <a href="/Home/index" class="btn btn-primary btn-lg">Next</a>
            </div>
        </div>
    </div>
</section>


